services:
  db:
    image: postgres:16
    container_name: grocery_prices_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: grocery_prices
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
